.contents,
.questions {
    width: min(100vw - 15px, 90%);
    margin-inline: auto;
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-bottom: 30px;
}

.card {
    display: grid;
    grid-template-columns: minmax(auto, 150px) 5fr repeat(2, 1fr);
    grid-template-areas: "icon text questions answers";
    background: #FEF;
    color: var(--text-button);
    min-height: 200px;
    border-radius: 8px;
    border: 2px solid #000;
    align-items: center;
}

.card > i {
    grid-area: icon;
    font-size: 3.5rem;
    border-radius: 6px 0 0 6px;
    height: 100%;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card > h2 {
    border-left: 2px solid #000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1em;
}

.card-info {
    grid-area: text;
    align-self: flex-start;
    padding: 1.5rem 1rem;
    gap: 1rem;
    display: grid;
    grid-template-rows: 1.5rem auto 1.5rem;
    height: 100%;
}

.card-user {
    display: flex;
    align-items: center;
    gap: .5rem; 
}

.card-user > i {
    font-size: 1.5rem;
    background: #000;
    color: #FFF;
    padding: .6em;
    border-radius: 100px;
}

.card-user > p {
    font-weight: 700;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2em;
}

.category {
    background: var(--dark-blue-fade);
    color: #FFF;
    font-weight: 600;
    padding: .5em 1.2em;
    border-radius: 5px;
    height: fit-content;
}

.one > i {
    background: var(--card-color-01);
}

.two > i {
    background: var(--card-color-02);
}

.three > i {
    background: var(--card-color-03);
}

.four > i {
    background: var(--card-color-04);
}

.five > i {
    background: var(--card-color-05);
}

.six > i {
    background: var(--card-color-06);
}