.signup-login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.title-signup-login {
    font-weight: 800;
    font-size: 28px;
    color: #FFF;
    text-align: center;
    margin-bottom: 20px;
}

.background-signup-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--background-form);
    border-radius: 20px;
    border: #FFF 2px solid;
    height: min(100% - 20px, 500px);
    width: min(100vw - 20px, 1000px);
    margin-inline: auto;
}

.background-signup-login form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    width: min(100% - 30px, 500px);
    margin-inline: auto;
}

.input-content {
    width: 100%;
}

.form-input {
    border-radius: 5px;
    border: none;
    font-weight: 700;
    color: #FFF;
    background: #050505;
    padding: 1em 1.5em;
    width: 100%;
}

.form-input::placeholder {
    opacity: .8;
}

.input-content:nth-child(n+3) {
    width: calc(50% - .5em);
}

.background-signup-login form input:focus {
    outline: none;
}

.submit {
    background: var(--backgorund-button);
    border: none;
    border-radius: 5px;
    font-weight: 800;
    font-size: 28px;
    width: 100%;
    padding: .4em 0;
    color: var(--text-button);
}

.submit:hover {
    cursor: pointer;
}

.input-error {
    color: var(--error-text);
}