* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background:linear-gradient(0deg, rgba(10, 60, 130, 0.8), rgba(10, 40, 80, 0.9)), url(../imagens/code-heaven-home-background02.jpg);
    background-position: center;
    width: var(--site-util-width);
    margin-inline: auto;
}

.index-nav-bar {
    position: absolute;
    width: var(--site-util-width);
    margin-inline: auto;
    top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    font-size: 1rem;
}

.index-nav-bar img {
    width: 120px;
}

.links {
    margin: 0 auto;
}

.button {
    border: 2px solid var(--border-color);
    padding: .5rem 2rem;
    border-radius: 10rem;
}

.signup {
    background: var(--border-color);
    color: var(--text-button);
}

.text {
    width: min(100vw - 15px, 60%);
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
    font-weight: 100;
}

footer {
    width: var(--site-util-width);
    margin-inline: auto;
    position: absolute;
    bottom: 50px;
    font-size: 2rem;
    gap: 1em;
    display: flex;
    justify-content: flex-end;
}

footer i {
    color: var(--icon-color);
}

@media screen and (max-width: 960px) {

    html {
        font-size: 10px;
    }

    .index-nav-bar img {
        width: 80px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .text {
        width: 100%;
    }
}