.main-nav-bar {
    width: var(--site-util-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    height: fit-content;
    margin: 20px auto;
}

.main-nav-bar img {
    width: 120px;
}

.main-nav-bar input {
    width: 300px;
    background: none;
    outline: none;
    border: none;
}

.search {
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: .6rem 1rem;
}

.wonder {
    color: #FFF;
    padding: 0;
}

.main-nav-bar input::placeholder {
    color: #BBB;
}

.user {
    margin: 0 0 0 auto;
}

.dropdown {
    background: rgb(10, 60, 130);
    display: none;
    gap: .7rem;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
    position: absolute;
    white-space: nowrap;
}

.dropdown:hover {
    display: flex;
}

.user > a:hover + .dropdown {
    display: flex;
}

@media screen and (max-width: 1100px) {

    html {
        font-size: 12px;
    }

    .main-nav-bar img {
        width: 100px;
    }

    .main-nav-bar input {
        width: 150px;
    }

}

@media screen and (max-width: 768px) {

    html {
        font-size: 10px;
    }

    .main-nav-bar img {
        width: 90px;
    }

}