.question-template {
    display: flex;
    gap: 2rem;
    width: var(--site-util-width);
    margin-inline: auto;
}

.new-question-template {
    display: grid;
    gap: 2rem;
    grid-template-rows: repeat(auto 4);
    width: var(--site-util-width);
    margin-inline: auto;
}

.responses > h2 {
    text-align: center;
}

.question {
    display: grid;
    row-gap: 2rem;
}

.user-question,
.user-new-question {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-new-question {
    width: 100%;
}

.user-question > i,
.user-new-question > i {
    font-size: 6rem;
}

.response {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.response > input {
    min-height: 10rem;
    border-radius: 8px;
}

hr {
    color: #FFF;
}

.vl {
    border-left: 2px solid #FFF;  
}

.input-content {
    margin-top: .5rem;
    background: #FFF;
    padding: .6rem 1.5rem;
    display: flex;
    border-radius: 5px;
}

.input-categories {
    margin: 0 0 0 auto;
}

.input-categories > div {
    margin-top: .5rem;
    background: #FFF;
    padding: .6rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    border-radius: 5px;
}

.input-categories > div > i {
    font-size: 2rem;
    margin: 0 0 0 auto;
    color: #000;
}

.input-question-text {
    min-height: 30vh;
}

.input-response {
    min-height: 10rem;
}

@media screen and (max-width: 600px) {

    .question-template {
        flex-direction: column;
    }

    .responses > h2 {
        font-size: 2rem;
    }

    .vl {
        border-top: 1px solid #FFF;
    }
    
    .user-question,
    .user-new-question {
        justify-content: center;
    }

    .question > h2 {
        text-align: center;
    }

}