.question-template {
    display: flex;
    gap: 2rem;
    width: var(--site-util-width);
    margin-inline: auto;
}

.responses > h2 {
    text-align: center;
}

.question {
    display: grid;
    row-gap: 2rem;
}

.user-question {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-question > i {
    font-size: 3rem;
    background: #000;
    padding: 1.5rem;
    border-radius: 10rem;
}

.response {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.response > input {
    min-height: 10rem;
    border-radius: 8px;
}

hr {
    color: #FFF;
}

.vl {
    border-left: 2px solid #FFF;  
}