@import url('https://fonts.googleapis.com/css2?family=Inter:display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-fade: linear-gradient(to bottom, rgb(10, 60, 130), rgb(10, 40, 80));
    --dark-blue-fade: linear-gradient(to bottom, rgb(5, 15, 25), rgb(0, 10, 20));
    --background-form: rgba(0, 0, 0, 0.2);
    --backgorund-button: #40E54C;
    --text-button: #050505;
    --error-text: #F00;
    --success-text: #0F0;
    --border-color: #0FF;
    --icon-color: #EEE;
}

html,
body,
input,
form,
button {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #FFF;
    font-weight: 500;
}

body {
    background-image: var(--background-fade);
    min-height: 100vh;
}

a {
    color: #FFF;
    text-decoration: none;
    font-weight: 800;
}

h2 {
    font-size: 1.3rem;
}

.top-nav-bar-background {
    background-image: var(--dark-blue-fade);
    padding: 20px 0;
    margin-bottom: 20px;
}

.top-nav-bar {
    display: flex;
    align-items: center;
    width: min(100vw - 15px, 90%);
    margin-inline: auto;
    gap: 1rem;
}

.top-nav-bar h2,
.top-nav-bar a,
.top-nav-bar span {
    font-weight: 600;
}

.top-nav-bar > a {
    background: var(--backgorund-button);
    padding: .5rem 1.6rem;
    color: var(--text-button);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 auto;
}

.top-nav-bar > a > i {
    font-size: 1.5rem;
}

.contents {
    width: min(100vw - 15px, 90%);
    margin-inline: auto;
}

.card-01 {
    display: grid;
    grid-template-columns: 1fr 5fr repeat(2, 1fr);
    background: #FFF;
    color: var(--text-button);
    align-items: center;
}