@import url('https://fonts.googleapis.com/css2?family=Inter:display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-fade: linear-gradient(to bottom, rgb(10, 60, 130), rgb(10, 40, 80));
    --dark-blue-fade: linear-gradient(to bottom, rgb(5, 15, 25), rgb(0, 10, 20));
    --background-form: rgba(0, 0, 0, 0.2);
    --background-card: #FEF;
    --backgorund-button: #40E54C;
    --text-button: #050505;
    --error-text: #F00;
    --success-text: #0F0;
    --border-color: #0FF;
    --icon-color: #EEE;
    --card-color-01: #FA6400;
    --card-color-02: #BB00FF;
    --card-color-03: #00CFDC;
    --card-color-04: #E6E63C;
    --card-color-05: #E646C8;
    --card-color-06: #CC9952;

    --site-util-width: min(100vw - 15px, 90%);
}

html,
body,
input,
form,
button {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #FFF;
    font-weight: 500;
}

input,
textarea {
    outline: none;
    border: none;
    font-size: 1rem;
    resize: none;
}

body {
    background-image: var(--background-fade);
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #FFF;
}

h2 {
    font-size: 1.3rem;
}